/* Comfortaa-Variable Font */
@font-face {
  font-family: 'Comfortaa-Variable Bold';
  src: url('fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Comfortaa-Variable';
  src: url('fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

/* VarelaRound Font */
@font-face {
  font-family: 'VarelaRound';
  src: url('fonts/VarelaRound-Regular.ttf') format('truetype'); 
}  